In [44]:
# Import the data from CSV file
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re

weather = pd.read_csv("SugarBowl_12-01-05_12_31_16.csv")

In [45]:
# Convert data from strings to floats
# Convert all missing data to NaN
# In the inner if statment, the at() method prevents pandas from copying the dataframe
# in each iteration

for col in weather.columns:
    if (col == "Date"):
        continue
    for row in weather.index:
        if weather[col][row] == '--':
            weather.at[row, col] = np.nan
        else:
            weather.at[row, col] = np.float64(weather[col][row])

In [46]:
# Add a column to store the month as a string
weather['month'] = weather.Date

# Generate the regular expressions needed to check the month
jan = re.compile(r'^1/')
feb = re.compile(r'^2')
mar = re.compile(r'^3')
apr = re.compile(r'^4')
may = re.compile(r'^5')
jun = re.compile(r'^6')
jul = re.compile(r'^7')
aug = re.compile(r'^8')
sep = re.compile(r'^9')
octo = re.compile(r'^10')
nov = re.compile(r'^11')
dec = re.compile(r'(^12)')

In [47]:
# Iteratively change the values in 'month' to the month
for row in weather.index:
    if jan.search(weather["month"][row]) != None :
        weather.at[row, "month"] = "January"
    elif feb.search(weather["month"][row]) != None :
        weather.at[row, "month"] = "February"
    elif mar.search(weather["month"][row]) != None :
        weather.at[row, "month"] = "March"
    elif apr.search(weather["month"][row]) != None :
        weather.at[row, "month"] = "April"
    elif may.search(weather["month"][row]) != None :
        weather.at[row, "month"] = "May"
    elif jun.search(weather["month"][row]) != None :
        weather.at[row, "month"] = "June"
    elif jul.search(weather["month"][row]) != None :
        weather.at[row, "month"] = "July"
    elif aug.search(weather["month"][row]) != None :
        weather.at[row, "month"] = "August"
    elif sep.search(weather["month"][row]) != None :
        weather.at[row, "month"] = "September"
    elif octo.search(weather["month"][row]) != None :
        weather.at[row, "month"] = "October"
    elif nov.search(weather["month"][row]) != None :
        weather.at[row, "month"] = "November"
    elif dec.search(weather["month"][row]) != None :
        weather.at[row, "month"] = "December"

In [48]:
# Add a column to contain the change in snow depth
# This is calculated as the difference in snow depth from the previous day

# Add the depth change column 
weather["Change_in_Depth"] = float(0)

# Compute the change in snow depth
for row in weather.index:
    if row == 0:
        continue 
    snowfall = weather["Snow_Depth"][row] - weather["Snow_Depth"][row-1]
    weather.at[row, "Change_in_Depth"] = snowfall

In [49]:
# Goal: Compute daily averages for precipitation by month
# Build dataframes separated by month
All_Jan = weather.loc[weather["month"] == "January"]
All_Feb = weather.loc[weather["month"] == "February"]
All_Mar = weather.loc[weather["month"] == "March"]
All_Apr = weather.loc[weather["month"] == "April"]
All_May = weather.loc[weather["month"] == "May"]
All_Jun = weather.loc[weather["month"] == "June"]
All_Jul = weather.loc[weather["month"] == "July"]
All_Aug = weather.loc[weather["month"] == "August"]
All_Sep = weather.loc[weather["month"] == "September"]
All_Octo = weather.loc[weather["month"] == "October"]
All_Nov = weather.loc[weather["month"] == "November"]
All_Dec = weather.loc[weather["month"] == "December"]

# Build dictionary to hold summary statistics computed on a daily basis

SummaryStats_Daily = {"Month":["January","February", "March", "April", "May", "June",
                 "July", "August", "September", "October", "November", "December"],
                "Mean_Daily_Precip_(mm)":[All_Jan.Total_Precip.mean(),All_Feb.Total_Precip.mean(),
                        All_Mar.Total_Precip.mean(), All_Apr.Total_Precip.mean(),
                        All_May.Total_Precip.mean(), All_Jun.Total_Precip.mean(),
                        All_Jul.Total_Precip.mean(), All_Aug.Total_Precip.mean(),
                        All_Sep.Total_Precip.mean(), All_Octo.Total_Precip.mean(),
                        All_Nov.Total_Precip.mean(), All_Dec.Total_Precip.mean()],
                "Variance_(mm)": [All_Jan.Total_Precip.var(),All_Feb.Total_Precip.var(),
                            All_Mar.Total_Precip.var(), All_Apr.Total_Precip.var(),
                            All_May.Total_Precip.var(), All_Jun.Total_Precip.var(),
                            All_Jul.Total_Precip.var(), All_Aug.Total_Precip.var(),
                            All_Sep.Total_Precip.var(), All_Octo.Total_Precip.var(),
                            All_Nov.Total_Precip.var(), All_Dec.Total_Precip.var()]}

# Build dataframe with summary stats dictionary

Daily_Precip_Stats = pd.DataFrame(SummaryStats_Daily)
Daily_Precip_Stats

    Mean_Daily_Precip_(mm)      Month  Variance_(mm)
0                 3.595913    January     128.247768
1                 3.872273   February     114.878937
2                 4.414470      March     106.551003
3                 2.988801      April      65.988057
4                 1.626021        May      26.527312
5                 0.968272       June      13.776563
6                 0.102955       July       1.301173
7                 0.125161     August       0.709981
8                 0.719267  September      13.604797
9                 2.555376    October     135.941865
10                3.190033   November      77.648534
11                5.795184   December     205.246071

In [58]:
# Found many dtypes to be object still
# Converting all columns to numeric to facilitate production of summary stats
weather['Wind_Speed'] = pd.to_numeric(weather['Wind_Speed'])
weather['Wind_Gust'] = pd.to_numeric(weather['Wind_Gust'])
weather['Wind_Direction'] = pd.to_numeric(weather['Wind_Direction'])
weather['Tavg'] = pd.to_numeric(weather['Tavg'])
weather['Tmin'] = pd.to_numeric(weather['Tmin'])
weather['Tmax'] = pd.to_numeric(weather['Tmax'])
weather['Havg'] = pd.to_numeric(weather['Havg'])
weather['Hmax'] = pd.to_numeric(weather['Hmax'])
weather['Hmin'] = pd.to_numeric(weather['Hmin'])
weather['Pressure'] = pd.to_numeric(weather['Pressure'])
weather['Snow_Depth'] = pd.to_numeric(weather['Snow_Depth'])
weather['Total_Precip'] = pd.to_numeric(weather['Total_Precip'])

In [59]:
weather.dtypes

Date                object
Year                 int64
Day_of_Year          int64
Day_of_Run           int64
Solar_Rad          float64
Wind_Speed         float64
Wind_Direction     float64
Wind_Gust          float64
Tavg               float64
Tmax               float64
Tmin               float64
Havg               float64
Hmax               float64
Hmin               float64
Pressure           float64
Snow_Depth         float64
Total_Precip       float64
month               object
Change_in_Depth    float64
dtype: object

In [60]:
# Use pandas describe() function to summarize data frame
weather.describe()

,Year,Day_of_Year,Day_of_Run,Solar_Rad,Wind_Speed,Wind_Direction,Wind_Gust,Tavg,Tmax,Tmin,Havg,Hmax,Hmin,Pressure,Snow_Depth,Total_Precip,Change_in_Depth
count,4049.000000,4049.000000,4049.000000,4049.000000,3591.000000,3591.000000,3591.000000,3591.000000,3591.000000,3591.000000,3591.000000,3591.000000,3591.000000,3355.000000,3591.000000,3355.000000,3575.000000
mean,2010.954804,184.414176,2025.000000,283.590324,1.266104,193.966583,14.372821,5.673796,11.514815,0.314898,59.302701,80.891674,36.953773,788.332340,734.163414,2.651332,-0.241941
std,3.193865,106.058958,1168.989949,623.095021,1.001824,108.889983,6.094651,7.488667,8.968776,6.390458,20.708562,16.208434,24.079918,5.023215,921.432623,9.061111,455.788091
min,2005.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,-14.800000,-13.100000,-19.400000,16.000000,16.000000,6.000000,758.000000,-6.020000,0.000000,-3355.500000
25%,2008.000000,93.000000,1013.000000,2.154000,0.690000,101.000000,10.090000,-0.100000,4.300000,-4.000000,43.000000,68.000000,19.000000,786.000000,76.925000,0.000000,-33.000000
50%,2011.000000,185.000000,2025.000000,3.520000,1.000000,224.000000,12.840000,5.000000,11.400000,0.100000,55.000000,86.000000,28.000000,789.000000,269.100000,0.000000,-5.330000
75%,2014.000000,277.000000,3037.000000,4.925000,1.560000,281.000000,17.380000,11.900000,19.400000,5.350000,76.500000,95.000000,48.000000,792.000000,1199.000000,0.250000,7.100000
max,2016.000000,366.000000,4049.000000,1666.667000,8.050000,360.000000,50.960000,22.300000,29.800000,17.500000,99.000000,100.000000,98.000000,811.000000,4409.000000,169.400000,3985.530000

In [71]:
# Goal: Generate mean Total precipitation by month
# Caveat: Some months have missing data and these months will be omitted from the analysis

# Build a dictionary containing the month/year with missing data
MissingMonths = {}

# Build a series containing a bool describing if Total_Precip contains missing data
TP_null = weather['Total_Precip'].isnull()

# Run through the boolean series to locate months with missing data and fill the dictionary
for i in range(len(TP_null)):
    if TP_null[i] == True:    # Check if the column contains nan at this location
        key, value = weather.at[i,"Year"], weather.at[i,"month"] # Store year-month pair
        boolean = key in MissingMonths and value == MissingMonths[key] # Check if year-month pair already in dict
        if boolean == False:
            MissingMonths[weather.at[i,"Year"]] = weather.at[i,"month"] # Add year-month pair if not yet added
MissingMonths

{2005: 'December',
 2006: 'January',
 2009: 'October',
 2013: 'September',
 2014: 'May',
 2015: 'December',
 2016: 'December'}

In [ ]:
# Compute the mean total precipitation by month excluding months with missing data

# A function that computes the monthly average
# Parameters: month, dataframe, dictionary of year-month pairs with missing data
def MonthlyAverage(month, df, dic):
    for 
    return mean